[user]
  name = Tess Henshaw
  email = tesshead@gmail.com
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = green reverse
    local = white
    remote = red
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = red
    untracked = cyan
[push]
  default = simple
[alias]
  co = checkout
  ci = commit
  rb = rebase
  up = pull --rebase
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/tesshead/.gitignore
